#ActionWindow {
    margin-top: 15px;
}

#ActionWindow .crm-button-type-cancel {
    display: none;
}
ol.WorkflowSteps {
    margin: 0px auto;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
ol.WorkflowSteps li {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    text-shadow: 0 -1px 1px #444;
    margin: 0px;

    box-shadow: 0 1px 2px #fff, 0 -1px 1px #888, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);

    background-image: url(../progress.png);
    background-color: #777;
}
ol.WorkflowSteps li:first-of-type {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
ol.WorkflowSteps li:last-of-type {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
ol.WorkflowSteps li.stepDone span {
    cursor: pointer;
}
ol.WorkflowSteps li.stepAvailable span {
    cursor: pointer;
}
ol.WorkflowSteps li.stepDone {
    background-color: #4a4;
    text-shadow: 0 -1px 0px #072;
}
ol.WorkflowSteps li.stepHasErrors {
    background-color: #c3000d;
    text-shadow: -1px -1px 1px #600000;
}
ol.WorkflowSteps li.stepActive {
    background-color: #3e90ff;
    text-shadow: -1px -1px 1px #27a;
}
div.breadcrumb {
    display: none;
}
#WorkflowTitle {
    margin: auto;
    margin-top: 20px;
}
.crm-contribution-main-form-block {
    display: none;
}