#ActionWindow {
    margin-top: 15px;
}

#ActionWindow .crm-button-type-cancel {
    display: none;
}
ol.WorkflowSteps {
    margin: 0px auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
ol.WorkflowSteps li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    color: silver;
    border-bottom: 4px solid silver;
    margin: 0px;
}
ol.WorkflowSteps li.stepDone span {
    cursor: pointer;
}
ol.WorkflowSteps li.stepAvailable span {
    cursor: pointer;
}
ol.WorkflowSteps li.stepDone {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.WorkflowSteps li.stepActive {
    border-bottom: 4px solid dodgerblue;
}
ol.WorkflowSteps li:after {
    content: "\00a0\00a0";
}
ol.WorkflowSteps li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.WorkflowSteps li.stepDone:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.WorkflowSteps li.stepTodo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
ol.WorkflowSteps li.stepActive:before {
    content: "\2295";
    color: dodgerblue;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
    border: none;
}
ol.WorkflowSteps li span {
    transform:rotate(-30deg);

    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
div.breadcrumb {
    display: none;
}
#WorkflowTitle {
    margin: auto;
    margin-top: 20px;
}